canvas {
    background-color: #AABBCC;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#attract_mode {
    display: none;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

#container {
    display:inline-block;
    width: 60%;
    height: 60%;
    position:relative; 
    display: block;
    margin: 0 auto;
    border-style: groove;
}

body {
    background-image: url("../images/app_background.png");
    background-attachment: fixed;
    background-position: 10% 50%;
}